.card {
    box-shadow: 5px 4px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 15px;
}

.form-control {
    display: inline!important;
    width: 20%;
    margin-bottom: 20px;
}

.appleItems {
    display: flex;
    flex-flow: wrap;
}

.navbar-inverse {
    background-color: #207567;
    border-color: #4E9C81;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

#apple-size {
    width: 150px;
}

.card-title {
    font-weight: bold;
}